@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-Regular.woff2") format("woff2"),
    url("fonts/Cairo-Regular.woff") format("woff"),
    url("fonts/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

:root {
  /* Colors */

  --color-default: #ffffff;
  --color-50: #f9fafb;
  --color-100: #f3f4f6;
  --color-200: #e5e7eb;
  --color-300: #d1d5db;
  --color-400: #9ca3af;
  --color-500: #6b7280;
  --color-600: #4b5563;
  --color-700: #374151;
  --color-800: #1f2937;
  --color-900: #111827;
  --color-950: #030712;
  --color-emerald-500: #10b981;

  /* Shadows */

  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* Font Family */
  --font-family-primary: "Inter", sans-serif;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Letter Spacing */
  --letter-spacing-tight: -0.02em;

  /* Font Sizes */
  --font-size-h1-desktop: 60px;
  --font-size-h1-tablet: 48px;
  --font-size-h1-mobile: 36px;

  --font-size-h2-desktop: 36px;
  --font-size-h2-tablet: 18px;

  --font-size-h3-desktop: 30px;
  --font-size-h3-tablet: 24px;

  --font-size-subtitle: 20px;
  --font-size-subtitle-tablet: 18px;

  --font-size-body1: 18px;
  --font-size-body1-tablet: 16px;

  --font-size-body2: 16px;
  --font-size-body3: 14px;

  /* Line Heights */
  --line-height-h1-desktop: 72px;
  --line-height-h1-tablet: 48px;
  --line-height-h1-mobile: 40px;

  --line-height-h2-desktop: 40px;
  --line-height-h2-tablet: 28px;

  --line-height-h3-desktop: 36px;
  --line-height-h3-tablet: 32px;

  --line-height-subtitle: 28px;

  --line-height-body1: 28px;
  --line-height-body1-tablet: 24px;

  --line-height-body2: 24px;
  --line-height-body3: 20px;
}

.dark-mode {
  --color-default: #030712;
  --color-50: #111827;
  --color-100: #1f2937;
  --color-200: #374151;
  --color-300: #4b5563;
  --color-400: #6b7280;
  --color-500: #9ca3af;
  --color-600: #d1d5db;
  --color-700: #e5e7eb;
  --color-800: #f3f4f6;
  --color-900: #f9fafb;
  --color-950: #ffffff;
  --color-emerald-500: #10b981;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  color: var(--color-500);
  background-color: var(--color-50);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/* start header */

.main-container header {
  background-color: var(--color-default);
  width: 100%;
  padding: 16px 80px;
}

.main-container header .header-container {
  width: 1444px;
  margin: 0 auto;
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
}

/* start logo */

.main-container header .header-container .logo {
  display: flex;
  align-items: center;
  color: var(--color-900);
  font-weight: bold;
  font-size: var(--font-size-h3-desktop);
}

/* end logo */
/* start nav */

.main-container header .header-container .menu {
  background-color: transparent;
  color: var(--color-600);
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
}

.main-container header .header-container .menu,
.main-container header .header-container .menu #menu-nav-open,
.main-container header .header-container .menu #menu-nav-close {
  display: none;
}

.main-container header .header-container nav {
  position: relative;
}

.main-container header .header-container nav,
.main-container header .header-container nav ul,
.main-container header .header-container nav .actions {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.main-container header .header-container nav ul li {
  list-style: none;
}

.main-container header .header-container nav ul li a {
  text-decoration: none;
  color: var(--color-500);
  font-size: var(--font-size-body2);
}

.main-container header .header-container nav ul li a:hover {
  color: var(--color-900);
}

.main-container header .header-container nav ul li a:hover {
  color: var(--color-600);
}

.main-container header .header-container nav .actions .switch-theme > span {
  display: none;
}

.main-container header .header-container nav .actions .theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container header .header-container nav .actions .theme #disactive-mode {
  display: none;
}

.main-container header .header-container nav .actions .theme {
  background-color: transparent;
  border: none;
  outline: none;
}

.main-container header .header-container nav .actions .theme span {
  font-size: 21px;
  padding: 6px;
  color: var(--color-600);
}

.main-container header .header-container nav .actions .downl-cv {
  padding: 9px 16px;
  background-color: var(--color-900);
  color: var(--color-50);
  font-size: var(--font-size-body2);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: none;
  outline: none;
}

.main-container header .header-container nav .actions .downl-cv:hover {
  background-color: var(--color-700);
}

.main-container header .header-container nav .actions .downl-cv:active {
  background-color: var(--color-800);
}

/* end nav */
/* start responsive design */
@media (max-width: 1444px) {
  .main-container header {
    padding: 16px 5px;
  }
  .main-container header .header-container {
    width: 1024px;
  }
}

@media (min-width: 768px) and (max-width: 1123px) {
  .main-container header .header-container {
    max-width: 758px;
  }
}

@media (max-width: 767px) {
  .main-container header {
    padding: 0;
  }
  .main-container header .header-container {
    padding: 16px;
    max-width: 100%;
    min-width: 315px;
    margin: 0;
  }
  .main-container header .header-container .logo {
    font-size: 21px;
  }
  .main-container header .header-container nav {
    box-shadow: var(--shadow-md);
    width: 80%;
    background-color: var(--color-default);
    height: 100%;
    position: absolute;
    top: 62px;
    right: 0px;
    flex-direction: column;
    align-items: start;
    display: none;
    z-index: 110000;
  }

  .main-container header .header-container nav > span {
    width: 100%;
    height: 2px;
    background-color: var(--color-50);
  }

  .main-container header .header-container nav ul,
  .main-container header .header-container nav .actions {
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin-bottom: 15px;
    padding: 16px;
  }
  .main-container header .header-container .menu {
    display: flex;
  }
  .main-container header .header-container .menu #menu-nav-open {
    display: block;
  }
  .main-container header .header-container .menu #menu-nav-close {
    display: none;
  }
  .main-container header .header-container nav .actions {
    width: 100%;
  }

  .main-container header .header-container nav .actions .switch-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-container header .header-container nav .actions .switch-theme > span {
    display: block;
    color: var(--color-500);
  }

  .main-container header .header-container nav .actions .downl-cv {
    min-width: 100%;
  }
}

/* end responsive design */
/* end header */

/* ===================== */
/* ===================== */
/* ===================== */
/* ===================== */
/* ===================== */

/* start main section */

.main-hero {
  background-color: var(--color-default);
  width: 100%;
  padding: 96px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero .container {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 0 32px;
}

/* start content section */

.main-hero .container .column-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 767px;
  max-width: 767px;
}

.main-hero .container .column-info .content h1 {
  color: var(--color-900);
  font-size: var(--font-size-h1-desktop);
  margin-bottom: 30px;
}

.main-hero .container .column-info .content p {
  color: var(--color-600);
  font-size: var(--font-size-body3);
  line-height: 1.6;
}

/* end content section */
/* start location and hire section */

.main-hero .container .column-info .location-hire div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--color-600);
  font-size: var(--font-size-body3);
}

.main-hero .container .column-info .location-hire div span {
  font-size: var(--font-size-body1);
}

.main-hero .container .column-info .location-hire .hire span {
  margin: 0 6px 0 5px;
  width: 6px;
  height: 6px;
  background-color: var(--color-emerald-500);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end location and hire section */
/* start links section */

.main-hero .container .column-info .links i {
  padding: 6px;
  font-size: 24px;
  color: var(--color-600);
  cursor: pointer;
}

.main-hero .container .column-info .links i:hover {
  color: var(--color-900);
}

/* end links section */
/* start col-img section */

.main-hero .container .column-img {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.main-hero .container .column-img .pic-container {
  width: 320px;
  position: relative;
}

.main-hero .container .column-img .pic-container img {
  position: relative;
  width: 280px;
  height: 320px;
  border: solid 10px var(--color-default);
  z-index: 1100;
}

.main-hero .container .column-img:hover .pic-container img {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.main-hero .container .column-img .pic-container::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 320px;
  top: 40px;
  left: 40px;
  background-color: var(--color-200);
  z-index: 1000;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.main-hero .container .column-img:hover .pic-container::after {
  top: -40px;
  left: -40px;
}

/* end col-img section */
/* start responsive design */
@media (max-width: 1277px) {
  .main-hero {
    max-width: 100%;
    padding: 96px 0;
  }
  .main-hero .container {
    gap: 5px;
    padding: 0;
  }
  .main-hero .container .column-info {
    gap: 48px;
    max-width: 500px;
    min-width: 30px;
  }
  .main-hero .container .column-img {
    max-width: 350px;
  }
}

@media (max-width: 990px) {
  .main-hero .container {
    width: 100%;
    gap: 100px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .main-hero .container .column-info {
    padding: min(15px, 5%);
    width: 767px;
    max-width: 100%;
    order: 2;
  }
  .main-hero .container .column-info .content h1 {
    font-size: var(--font-size-h1-mobile);
  }

  .main-hero .container .column-info .content p {
    font-size: var(--font-size-body3);
  }

  .main-hero .container .column-img {
    width: 350px;
  }

  .main-hero .container .column-img .pic-container {
    width: 300px;
  }

  .main-hero .container .column-img .pic-container img {
    width: 250px;
    height: 300px;
    left: 15px;
  }

  .main-hero .container .column-img .pic-container::after {
    width: 280px;
    height: 300px;
    top: 20px;
    left: 0;
  }
}

/* end responsive design */
/* end main section */
